:root {
    --Pale-Blue: #dddbff;
    --Grayish-Blue: hsl(229, 7%, 55%);
    --Dark-Blue: hsl(228, 56%, 26%);
    --Very-Dark-blue: #0c122c;
    --color-bar: #14204a;
    --card-bg: #1e2c69;
}

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {

    background-color: var(--Dark-Blue);
    background-image: url(images/bg-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    font-size: 1.4rem;
    font-family: 'Raleway',
        sans-serif;
    color: var(--Pale-Blue);
}

.usage {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.container {
    width: 80%;
    position: relative;
}


.card {
    background-color: var(--card-bg);
    padding: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 300px;
    position: relative;
    box-shadow: 0px 0px 7px 1px #00000015;
}


.card-primary {
    border-top-right-radius: 100px;
}

.logo {
    margin: 1rem 0 4rem;
}

ul {
    display: flex;
    list-style: none;
    gap: 10px;
    margin-bottom: 1.5rem;
}

li {
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    margin-right: 25px;
    justify-content: center;
    padding: 2px;
    transform: translateX(8px);
    min-width: 25px;
    height: 30px;

}

li::before {
    content: '';
    background-color: var(--Very-Dark-blue);
    border-radius: 10px;
    height: calc(100% + 20px);
    width: calc(100% + 20px);
    position: absolute;
    z-index: -1;
}

.card-details {
    text-align: center;
}

.card-details p {
    opacity: .8;
}

.gb-consumption {
    font-weight: bold;
    color: white;
    opacity: .9;
}


.bar {
    background-color: var(--color-bar);
    height: 20px;
    margin: auto;
    border-radius: 30px;
    margin-top: 20px;
    position: relative;
    margin-bottom: 50px;
}

.bar::after {
    content: '0 GB';
    top: 30px;
    position: absolute;
    left: 1px;
    font-weight: bold;
    opacity: .9;
    font-size: 1.3rem;
}

.bar::before {
    content: '1000 GB';
    top: 30px;
    position: absolute;
    right: 1px;
    font-weight: bold;
    opacity: .9;
    font-size: 1.3rem;
}

.progress {
    position: absolute;
    background-image: linear-gradient(to right, #ffa399, #ff4d97);
    height: 65%;
    width: 75%;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    border-radius: 30px;
    left: 2px;
}

.progress::after {
    position: absolute;
    content: '';
    background-color: rgba(255, 255, 255, 0.93);
    width: 9px;
    height: 9px;
    border-radius: 50%;
    right: 3px;
    transform: translateY(-50%);
    filter: blur(100%);
    top: 50%;
}


.gb-left {
    color: black;
    font-weight: bold;
    font-size: 3.5rem;
    background-color: white;
    border-radius: 10px;
    padding: 15px 25px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 50%);
    white-space: nowrap;

}

.gb-left sup {
    font-size: 1.3rem;
    vertical-align: middle;
    color: var(--Grayish-Blue);
}

@media (min-width:600px) {
    body {
        background-image: url(images/bg-desktop.png);
        background-size: 100% 50%;
        background-position: bottom;
        background-color: var(--Very-Dark-blue);
        min-height: 100vh;
    }


    .container {
        display: grid;
        grid-template-columns: 1fr 2fr;
        gap: 20px;
        margin: auto;
        width: 900px;
        padding: 15px;
    }

    .card {
        width: 100%;
    }


    .card-primary {
        padding-right: 100px;
        padding: 30px 120px 30px 40px;
    }


    .card-details {
        height: 70%;
        align-self: flex-end;
        text-align: left;
    }

    .gb-left {
        position: absolute;
        bottom: 100%;
        left: 90%;
        transform: translate(-90%, 30%);
    }

    .pointer {
        position: absolute;
        background-color: white;
        height: 25px;
        width: 25px;
        top: 89%;
        right: 0;
        clip-path: polygon(0% 0, 100% 100%, 100% 0);
    }

}


.attribution {
    font-size: 13px;
    text-align: center;
    white-space: nowrap;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translatex(-50%);
}

.attribution a {
    text-decoration: none;
    color: hsl(185, 100%, 52%);

}

.attribution a:hover {
    color: hsl(185, 100%, 75%);

}